%div.col-md-12.formcontainer

  %div#bigcoursescontainer.col-md-12
    %div.col-md-6.col-md-offset-3{:style => 'padding: 5px'}
      %div.bigformbox{:style => 'display: block'}
        = form_for([schedule, course], :html => {:id => 'courseform'}) do |f|

          %div.row.form-group
            %div.col-md-4= f.label :name
            %div.col-md-8
              = f.text_field :name, placeholder: 'e.g. Software Engineering', :class => 'form-control', :id => 'name-field'      
              %div.help-block.with-errors
                = show_errors(course, :name)

          %div.row.form-group
            %div.col-md-4= f.label :description
            %div.col-md-8
              = f.text_field :description, placeholder: 'e.g. COSC 480', :class => 'form-control', :id => 'desc-field'
              %div.help-block.with-errors
                = show_errors(course, :description)

          %div.row.form-group
            %div.col-md-12
              %div.btn-group.btn-group-justified{:role => "group"}

                %div.btn-group{:role => "group"}
                  %button#sun.btn.btn-default.bootstrap-button{"data-toggle" => "button", :autocomplete => "off", |
                  "aria-pressed" => "false", :onclick => "formscripts.checkToggle('sun')", :type => "button"} S

                  %div.checkboxes
                    = f.label :sunday, "S"
                    = f.check_box :sunday, :id => 'sun-check'
                
                %div.btn-group{:role => "group"}
                  %button#mon.btn.btn-default.bootstrap-button{"aria-pressed" => "false", :autocomplete => "off", |
                  "data-toggle" => "button", :onclick => "formscripts.checkToggle('mon')", :type => "button"} M

                  %div.checkboxes
                    = f.label :monday, "M"
                    = f.check_box :monday, :id => 'mon-check'

                %div.btn-group{:role => "group"}
                  %button#tue.btn.btn-default.bootstrap-button{"aria-pressed" => "false", :autocomplete => "off", |
                  "data-toggle" => "button", :onclick => "formscripts.checkToggle('tue')", :type => "button"} T

                  %div.checkboxes
                    = f.label :tuesday, "T"
                    = f.check_box :tuesday, :id => 'tue-check'

                %div.btn-group{:role => "group"}
                  %button#wed.btn.btn-default.bootstrap-button{"aria-pressed" => "false", :autocomplete => "off", |
                  "data-toggle" => "button", :onclick => "formscripts.checkToggle('wed')", :type => "button"} W

                  %div.checkboxes
                    = f.label :wednesday, "W"
                    = f.check_box :wednesday, :id => 'wed-check'

                %div.btn-group{:role => "group"}
                  %button#thu.btn.btn-default.bootstrap-button{"aria-pressed" => "false", :autocomplete => "off", |
                  "data-toggle" => "button", :onclick => "formscripts.checkToggle('thu')", :type => "button"} R

                  %div.checkboxes
                    = f.label :thursday, "R"
                    = f.check_box :thursday, :id => 'thu-check'

                %div.btn-group{:role => "group"}
                  %button#fri.btn.btn-default.bootstrap-button{"aria-pressed" => "false", :autocomplete => "off", |
                  "data-toggle" => "button", :onclick => "formscripts.checkToggle('fri')", :type => "button"} F

                  %div.checkboxes
                    = f.label :friday, "F"
                    = f.check_box :friday, :id => 'fri-check'

                %div.btn-group{:role => "group"}
                  %button#sat.btn.btn-default.bootstrap-button{"aria-pressed" => "false", :autocomplete => "off", |
                  "data-toggle" => "button", :onclick => "formscripts.checkToggle('sat')", :type => "button"} S

                  %div.checkboxes
                    = f.label :saturday, "S"
                    = f.check_box :saturday, :id => 'sat-check'

              %div.help-block.with-errors

          %div.row
            %div.col-md-6.form-group
              = f.label :start_time
              = f.text_field :start_time, :placeholder => 'e.g. 10:20am', :class => 'form-control', :id => 'start-field'
              %div.help-block.with-errors
                = show_errors(course, :start_time)

            %div.col-md-6.form-group
              = f.label :end_time
              = f.text_field :end_time, :placeholder => 'e.g. 11:10am', :class => 'form-control', :id => 'end-field'
              %div.help-block.with-errors
                = show_errors(course, :end_time)

          %div.row{:style => 'text-align:center'}
            = link_to edit_schedule_path(params[:schedule_id]), :type => 'button', :class => 'btn btn-danger btn-sm', :onclick => "return confirm('All changes will be lost. Are you sure?')" do
              %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
              Discard Changes
          
            = button_tag :type => 'submit', :class => 'btn btn-success btn-sm' do
              %span.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
              Add to schedule

    / set the bootstrap buttons on the courseform
    :javascript
      formscripts.init();

