%div.col-md-4.formcontainer
  %div#formheader
    %div.addthis_sharing_toolbox
      %h5 Share your schedule:

  %div#coursescontainer
    / course list
    - courses.each do |c|
      %div.formbox.formdisp.noselect
        %h4{:id => "course-#{c.id}-name"}= c.name
        %h5{:id => "course-#{c.id}-desc"}= c.description
        %p= c.get_tag

        %span{:id => "course-#{c.id}-sun", :style => "display:none"}= c.sunday
        %span{:id => "course-#{c.id}-mon", :style => "display:none"}= c.monday
        %span{:id => "course-#{c.id}-tue", :style => "display:none"}= c.tuesday
        %span{:id => "course-#{c.id}-wed", :style => "display:none"}= c.wednesday
        %span{:id => "course-#{c.id}-thu", :style => "display:none"}= c.thursday
        %span{:id => "course-#{c.id}-fri", :style => "display:none"}= c.friday
        %span{:id => "course-#{c.id}-sat", :style => "display:none"}= c.saturday
        %span{:id => "course-#{c.id}-start", :style => "display:none"}= c.start_time
        %span{:id => "course-#{c.id}-end", :style => "display:none"}= c.end_time
        %span{:class => "courseid", :style => "display:none", :data => {:id => c.id}}

