!!!
%html{:lang => "en"}
  %head
    / page title
    %title Schedulizer

    / meta tags
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    / stylesheets
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

    / scripts (most should be placed at the bottom for efficiency's sake!
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    
    = csrf_meta_tags
  %body
       
    %div.container
      %div.page-header
        %h1 
          College Schedulizer

      %div.page-content
        %noscript
          %div.alert.alert-danger
            %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
            Please enable javascript in order to access all the features of our site.
          
        - if flash[:notice]
          %div.alert.alert-dismissible.alert-success
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
            %span.glyphicon.glyphicon-ok-sign{"aria-hidden" => "true"}
            = flash[:notice].html_safe

        = if flash[:warning]
          %div.alert.alert-dismissible.alert-danger
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
            %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
            = flash[:warning].html_safe

        = yield

      %div.col-md-12.footer
        &copy; 2015 Laura Slade, Zachary Smith, Matthew Brauner
        %br
        Software Engineering, Colgate University

    
